@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Monosans;
  src: url('../../public/fonts/Mona-Sans-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monosans;
}
.dark{
  color:#fff;
  background-color:#000;
}
.light{
  color:#000;
  background-color: #fff;
}